@import "typography";
@import "reset";

body {
  font-family: "Space Mono", monospace;
  background-color: #000;
  color: #fff;
  font-size: 14px;
  line-height: 1.5;
  padding: 0 100px;
}

h2 {
  font-size: 32px;
  border-bottom: 1px solid #fff;
  padding-bottom: 50px;
}

header {
  padding-top: 150px;
  margin-bottom: 170px;
}

section {
  margin-bottom: 90px;

  p.callout {
    background-color: #fff;
    color: #000;
    padding: 14px 27px;
    margin-top: 50px;
  }
}

section.image-one,
section.image-four {
  max-width: 1200px;
}

section.image-two {
  max-width: 630px;
}

section.image-three {
  max-width: 1100px;
}

section.text {
  max-width: 350px;
}

section.about,
section.contact {
  max-width: 1200px;

  p {
    margin: 50px 0 90px 0;
    max-width: 450px;
  }
}

section.contact {
  background-color: #1a1a1a;
  padding: 34px 47px;

  h3 {
    font-size: 20px;
  }

  a {
    margin-top: 15px;
    font-size: 17px;
    text-decoration: none;
    color: #6a6a6a;
    display: inline-block;
  }

  a:hover {
    color: #fff;
  }

  div.social a {
    margin-top: 45px;
    margin-right: 45px;
  }
}

@media (max-width: 800px) {
  div.social {
    margin-top: 100px;
    margin-bottom: 30px;
  }

  div.social a {
    display: block;
  }
}

@media (max-width: 600px) {
  body {
    padding: 30px 30px 0 30px;

    header {
      padding-top: 36px;
      margin-bottom: 25px;

      h1 {
        width: 250px;
      }
    }

    section {
      margin-bottom: 40px;
    }

    section.text,
    section.about {
      max-width: 90%;
      font-size: 20px;
      margin-bottom: 40px;
    }

    section.contact {
      margin-top: 0px;
      margin: 40px -30px 0px -30px;
    }
  }
}
